.container{
    width:50%;
    margin-left:5%;
    padding:0.25em;
 
}
label{
    font-weight:bold;
}
.topStoryForm{
    border:0.05em solid #777;
    border-radius:0.25em;
    padding:1em;
}
.btnwrapper{
    display:flex;
    justify-content: center;
}
.btnwrapper button{
    margin-left:5%;
}